@font-face {
    font-family: 'Uoltext';
    src: url("fonts/UOLtext\ Regular\ Regular.woff2.ttf");
}
body{
    background-image: url(https://images.alphacoders.com/107/1071088.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Uoltext', sans-serif;
}
#img2{
    float: left;
    margin: 0em 2em 1em 2em;
    display: block;
    size: 20%;
    position: relative;
}
h1, h2, table{
    text-align: center;
}
h1{
    color: rgb(219, 86, 86);
    text-shadow:2px 2px rgb(0, 0, 0);
    font-size: 50px;
    padding-bottom: 50px;
    text-decoration: underline;
}
h2 {
    color: rgb(61, 212, 119);
    clear: both;
    font-size: 40px;
}
main{
    border: 5px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
    margin: 10% 25% 10% 25%;
    padding: 5%;
    min-height: 100%;
}
p{
    clear: left;
    text-align: justify;
    margin: 2% 2%;
    font-size: 20px;
    border-radius: 5%;
}
section{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: rgb(211, 210, 210);
    font-size: 22px;
}
table{
    text-align: center;
    margin: auto;
}
thead{
    border-top: 1px solid black;
    border-bottom:  1px solid black;
    background-color: rgb(97, 170, 146);
}
tbody, caption{
    background-color: rgb(211, 210, 210);
}
th, td{
    padding: 1em 1em;
    font-size: 15px;
}
.truco:hover    {
    animation: rodando 0.75s ease-in-out 0.5s infinite alternate;
}
@keyframes rodando {
    from {
        transform: rotate(20deg);
    }
    to{
        transform: rotate(-20deg);
    }
50%{
    color: rgb(219, 86, 86);
}
}
@media (max-width: 768px) {
    header ul {
        flex-direction: column;
        align-items: center;
    }

    header ul ol {
        margin: 10px 0;
    }

    main {
        padding: 10px;
    }

    h1 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }

    header ul ol a {
        padding: 5px;
    }
}
.ativo{
    font-style: bold;
    background-color: rgb(122, 214, 184);;
}
header{
        position: sticky;
        left: 0;
        top: 0;        
}
header ul{
    font-size: 24px;
    width: 100%;    
    background-color: rgb(97, 170, 146);
    display: flex;
    align-self: auto;
    justify-content: center;
}
header a:hover{
    color: rgb(25, 255, 63);
}
#paulista ul{
    list-style-type: none;
    padding: 0;
}
#paulista li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.naipe-img {    
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
video{
    width: 75%;
}